{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Study note!</title>
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-3" style="padding:5px;">
                <div class="chat-room-container">
                    <div class="chat-room text-center">
                        <h1 style="margin: 5px 0; font-weight: bold;">Chat Room</h1>
                        <textarea id="chat-log" class="chat-log" cols="30" rows="20" readonly></textarea><br>
                        <div class="d-flex justify-content-center">
                            <input id="chat-message-input" class="chat-input" type="text" placeholder="여기에 지식 나누기">
                            <input id="chat-message-submit" class="chat-submit-button ml-2 align-self-stretch" type="button" value="Send">
                            <input id="delete-log-button" class="delete-log-button ml-2 align-self-stretch" type="button" value="Reset">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                {% block content %}
                {% endblock %}
                <script type="text/javascript">
                    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                    (function(){
                    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                    s1.async=true;
                    s1.src='https://embed.tawk.to/64643e1aad80445890ed5e02/1h0jp568e';
                    s1.charset='UTF-8';
                    s1.setAttribute('crossorigin','*');
                    s0.parentNode.insertBefore(s1,s0);
                    })();
                </script>
                <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
                <script src="{% static 'bootstrap.min.js' %}"></script>
                <script>
                    const chatLog = document.querySelector('#chat-log');
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const submitButtonDom = document.querySelector('#chat-message-submit');
                    const deleteLogButtonDom = document.querySelector('#delete-log-button');
                    const savedMessages = localStorage.getItem('chatMessages');
                    if (savedMessages) {
                        chatLog.value = savedMessages;
                    }
                    submitButtonDom.addEventListener('click', function(e) {
                        const message = messageInputDom.value.trim();
                        if (message !== '') {
                            chatLog.value += (message + '\n');
                            messageInputDom.value = '';
                            localStorage.setItem('chatMessages', chatLog.value);
                        }
                    });
                    deleteLogButtonDom.addEventListener('click', function(e) {
                        chatLog.value = '';
                        localStorage.removeItem('chatMessages');
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
